{% extends 'search/base.html' %}

{% block content %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<style>
    th{ 
        color:darkslategrey;
            }
</style>

<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>

<table class="table table-stripped&sortable">
    <th>Document Name:</th>
    <th>Document Link:</th>
    <th>Document Type:</th>
     {% for doc in docs %} 
       <tr> 
        <td> {{doc.file_name}} </td>
        {% if doc.doc_type == "Others" %}
        <td> 
            <a href="{{MEDIA_URL}}{{doc.file_path}}/{{doc.file_name}}">Link
        </td>
        {% else %}
        <td>
            <a href="{{MEDIA_URL}}{{doc.file_path}}/{{doc.file_name}}/#page={{doc.page_number}}">{{doc.file_path}}
        </td>
        {% endif %}
        <td> {{doc.doc_type}} </td>
       </tr> 
    {% endfor %}
</table>

{% endblock %}